.travel-main {
    position:0 auto!;
    transform: translate(-50, -50);
    border: 1px whitesmoke blue;
    padding: 1em;
    background-color: white;
}

.travel-secondary{
    position: relative;
    margin-left: 0em;
    margin-right: 10em;
}

.form-group input select{
    margin-left: 10em;
    margin-right: 10em;
    max-width:50em;
}

